/*
1. Posicionamiento 
2. Modelo de Caja (Box model)
3. Tipografia
4. Temas visuales 
5. Mixelaneos u Otros 
*/
:root {
   /* Colores y Fuentes  */
   --bitcoin-orange: #f7931a;
   --soft-orange: #ffe9d5;
   --secondary-blue: #1a9af7;
   --soft-blue: #e7f5ff;
   --warm-black: #282623;
   --black: #201e1c;
   --grey: #bababa;
   --off-white: #faf8f7;
   --just-white: #fff;
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html{
   font-size: 62.5%;
   font-family: "DM Sans", sans-serif;
}
header{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
min-width: 320px;
height: 334px;
text-align: center;
background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
   width: 150px;
   height: 24px;
   margin-top: 60px;
   align-self: center;
}
.header--tittle-container {
   width: 90%;
   min-width: 288px;
   max-width: 900px;
   height: 218px;
   margin-top: 40px;
   text-align: center;
   align-self: center;
}
.header--tittle-container h1 {
   font-size: 2.4rem;
   font-weight: bold;
   line-height: 2.6rem;
   color: var(--just-white);
}

.header--tittle-container p {
   margin-top: 25px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: var(--soft-orange)
}

.header--tittle-container .header--button {
   position: absolute;
   left: calc(50% - 118px);
   top:270px;
   display: block;
   margin-top: 35px;
   padding: 15px;
   width: 229px;
   height: 48px;
   background-color: var(--off-white);
   /* sombras */
   box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
   border: none;
   border-radius: 5px;
   font-size: 1.4rem;
   font-weight: bold;
   text-decoration: none;
   color: var(--black)
}
.header--button span {
   display: inline-block;
   width: 13px;
   height: 13px;
   margin-left: 10px;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url('./assets/icons/down-arrow.svg');
}
main {
   width: 100%;
   height: auto;
   background-color: var(--off-white);
   color: var(--black);
}
.main-exchange-container {
   width: 100%;
   height: auto;
   padding-top: 80px;
   padding-bottom: 30px;
   text-align: center;
}
.main-exchange-container--tittle {
   width: 90%;
   min-width: 288px;
   max-width: 900px;
   margin: 0 auto;
}
.main-exchange-container .backgroundImg {
   width: 200px;
   height: 200px;
   margin: 0 auto;
   margin-bottom: 50px;
   background: url('./assets/img/Bitcoin.svg') center/cover no-repeat;
}

.main-exchange-container h2 {
   margin-bottom: 30px;
   font-size: 2.3rem;
   font-weight: bold;
   color: var(--black)
}
.main-exchange-container p {
   margin-top: 30px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.6rem;
   color: var(#757575);
}
