body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: blue;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 45px;
}
nav .icons {
  display: flex;
  gap: 15px;
  padding-right: 30px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 0 45px 0 50px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  margin: 0px;
  font-size: 3em;
}
article p {
  font-size: 1.5rem;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background: #FA9500;
  border-style: none;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article img {
  width: 25vw;
  border-radius: 19px;
  margin-top: 50px;
}

.product-section {
  width: auto;
  height: auto;
  background-color: #FFEFE7;
  padding: 60px;
}
.product-section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
.product-section .healthcare, .product-section .furniture {
  padding-bottom: 60px;
}
.product-section .healthcare h2, .product-section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
.product-section .healthcare .card-section, .product-section .furniture .card-section {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
.product-section .healthcare .product-cart, .product-section .furniture .product-cart {
  width: 14vw;
  height: 45vh;
  background-color: #f8cbb2;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 10px;
}
.product-section .healthcare .product-cart .icon, .product-section .furniture .product-cart .icon {
  width: 100;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
.product-section .healthcare .product-cart .icon svg, .product-section .furniture .product-cart .icon svg {
  width: 30px;
  height: 30px;
}
.product-section .healthcare .product-cart .product-image, .product-section .furniture .product-cart .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section .healthcare .product-cart .product-image img, .product-section .furniture .product-cart .product-image img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.furniture .card-section .product-cart {
  background-color: #BABD8D;
  color: white;
}
.furniture .card-section .icon {
  width: 100;
  display: flex;
  justify-content: end;
  padding-bottom: 12px;
}

.info-section .about-us {
  color: blue;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=main.css.map */