// top-level statements
  // - Imports
  // - Definicion de Un Mixin
  // - Definicion de una Funcion 
  // : Modulos 

// Universal statements 
  // - Variables, estructuradas de control y las reglas @error, @warn y @debug
  // - Declaraciones CSS: Reglas de estilo, At-rules Mixins

// Tipos de variables.
//  Las variavles se declaran con el simbolo de $
//  Ej $primery-color: blue

$primary-color:#FFEFE7;
$secundary-color:#f8cbb2;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternion-color:#FA9500;
$font-stackl: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.5rem;

// @mixin flexCenter($direction:null, $content:null, $alingn:null)
@mixin flexCenter($direction, $content, $alingn){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $alingn;
}
@mixin buttonStyle {
  button {
    background: none;
    border-style: none;

  }
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: $primary-color;
    // background-color: blue;
    font-family: $font-stackl;
}

nav{
  width: auto;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;
  p{
    font-size: $paragraph-size;
		padding-left: 30px;
  }
  .icons {
    display: flex;
    gap: 15px;
    padding-right: 30px;
    @include buttonStyle;
  }
}

article {
  width: auto;
  color: $primary-text-color;  
  @include flexCenter(row, space-between, center );
  padding-left: 45px;
	padding-right: 45px;
	padding-top: 70px;
  .impact-section{
    @include flexCenter(column, space-evenly, flex-start );
    padding-top: 50px;
    gap: 25px;
  }
  h1{
    margin: 0px;
    font-size: 3em;
  }
  p{
    font-size: $paragraph-size;
  }
  @include buttonStyle;
  button{
    width: 12vw;
    padding: 20px;
    background: $quaternion-color;
    border-style: none;
    border-radius: 35px;
    color: white;
    font-size: 1em;
    &:hover{
      transform: scale(1.1);
    }
  }
    img{
      width: 25vw;
      border-radius: 19px;
      margin-top: 50px;
    }
}
// Seccion de Porductos
.product-section {
  width: auto;
  height: auto;
  padding: 60px;
  h2{
    color: $primary-text-color;
    font-size: 2em;
  }
  .healthcare{
    padding-bottom: 60px;
    h2{
      font-weight: 300;
      padding-bottom: 60px;
    }
      .card-section{
        width: auto;
        height: auto;
        @include flexCenter(row,space-evenly, center );
        flex-wrap: wrap;
        column-gap: 200px;
        row-gap: 80px;
      }
      .product-cart{
        width: 14vw;
        height: 45vh;
        background-color: $secundary-color;
        color:$primary-text-color;
        padding: 20px;
        border-radius: 10px;
        .icon{
          width: 100;
          display: flex;
          justify-content: flex-end;
          padding-bottom:12px;
          svg{
            width: 30px;
            height: 30px;
          }
        }
          .product-image{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 12vw;
              height: 30vh;
              object-fit:cover;
              border-radius: 8px;
            }
          }
        }
    }
  .furniture{
    @extend .healthcare;
    .card-section{
      .product-cart{
        background-color: $tertiary-color;
        color: white;
      }
      .icon{
        width: 100;
        display: flex;
        justify-content: end;
        padding-bottom:12px;
      }
    }
  }
}


.about-us {
  padding-bottom: 60px;
  
  h2 {
    color: $primary-text-color;
    font-weight: bold;
    padding-bottom: 60px;
    padding-left: 60px
    
  }
  .mission-section {
    @include flexCenter(row, space-evenly, center);
    .earth {
      width: 30vw;
      display: flex;
      gap: 40px;
      color:  $primary-text-color;
      img {
        object-fit: contain;
        
      }
      p {
        text-align: center;
        font-size: $paragraph-size; // Asegúrate de que $paragrap-size esté definido o usa un valor numérico
      }
    }
  }
  .innovation {
    @extend .earth
  }
}

.gallery {
  h2{
    color: $primary-text-color;
		font-weight: bold;
		padding-bottom: 60px;
    padding-left: 60px
	}
  .gallery-images{
    @include flexCenter(row, space-between, center);
    padding-bottom: 60px;
    padding-left: 60px;
    img{
      width: 28vw;
      height: 20vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 16px;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
} 

.location {
  color: #E86424;
  padding-bottom: 60px;
  padding-left: 60px;
  h2{
    padding: 60px 0;
  }
  .map {
    @include flexCenter(row, center, center);
    padding-bottom:50px ;
  }

  p,h3{
    font-size: $paragraph-size;
    padding-left: 60px; 
  }
}

footer{
background-color: $quaternion-color ;
width: 100%;
height: auto;
padding: 40px;
color: white;
.social-media{
  @include flexCenter(row, center, center);
  gap: 40px;
  padding-bottom: 60px;
}
}